<nav id="sidebar" data-behavior="{{ .Scratch.Get "sidebarBehavior" }}">
  <div class="sidebar-container">
    {{ with ($.Scratch.Get "authorPicture") }}
      <div class="sidebar-profile">
        <a href="{{ if $.Site.Params.sidebar.profile.url }}{{ $.Site.Params.sidebar.profile.url }}{{ else }}{{ "/#about" }}{{ end }}" aria-label="{{ i18n "global.read_more_about_author"}}">
          <img class="sidebar-profile-picture" src="{{ . }}{{ if in . "//www.gravatar.com/avatar/" }}?s=110{{ end }}" alt="{{ i18n "global.author_picture" }}" />
        </a>
        <h4 class="sidebar-profile-name">{{ $.Site.Author.name }}</h4>
        {{ with $.Site.Author.bio }}
          <h5 class="sidebar-profile-bio">{{ . | markdownify }}</h5>
        {{ end }}
      </div>
    {{ end }}
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.main "root" $) }}
    </ul>
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.links "root" $) }}
    </ul>
    <ul class="sidebar-buttons">
      {{ partial "menu.html" (dict "menu" .Site.Menus.misc "root" $) }}
    </ul>
  </div>
  <div class="sidebar-container">
    <div style="color: #ebebeb; font-size: 25px; text-align: center;">dbatools book</div>
    <div style="color: #ebebeb; font-size: 15px;">Now available! Buy it at manning.com - 50% off with code bldbatools50 </div>
    <a href="https://www.manning.com/books/learn-dbatools-in-a-month-of-lunches?utm_source=claudioessilva&utm_medium=affiliate&utm_campaign=affiliate&a_aid=claudioessilva" target="_blank" >
      <center>
        <img src="https://images.manning.com/264/352/resize/book/0/998b76f-982a-4661-a020-5d94909f7ea5/LeMaire-HI.png" height="300"/>
      </center>
    </a>
 </div>
</nav>
